body{
  background:white url("images/b1.webp");background-repeat: no-repeat;background-size: cover;
  background-color:white;
  color: #333333;
  margin-top: 5rem;
  
 }
  
 .parallax {
  
    background-image: url("images/1.webp");
    min-height: 750px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
 /*
 #n1 {
  margin-bottom: 19px;
  background-color: cyan ;
}
*/
#f1 {width:26%;height:600px;border:0.5px solid black;background-color:white;border-radius: 25px; float:left;padding: 35px; text-align:center;font-weight:bold;font-size:15px;}
#i5 {padding-left:100px;}



#f2 {width:50%;height:100%;border:0.5px solid black;border-radius: 20px;background-color:white;}
#f3 {width:40%;height:500px;border:0.3px solid black;border-radius: 10px;background-color:white;}
#f4 {width:50%;height:600%;border:0.5px solid black;border-radius: 10px;background-color:white;}
#f6 {background-color: cyan}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.70), 0 17px 50px 0 rgba(0,0,0,0.50);
}
.button {
	width:50%;
    background-color:#1e88e5 ;
    color: white;
    border-radius: 20px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {background-color: #0b6dff}

.button:active {
  background-color: #f0f0f5;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}


h1, h2, h3, h5, h6 {
  color: #000000;
}
/*=================Cards==========================*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
} 

/*==============================row-column change==============================================================*/

.column {
  
  width: 25%;
  padding:5px;

}
.column1 {
  
  width: 50%;
  padding:5px;

}

  .space{
  padding-right:6%;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*-===============================contactus=======================================================*/


@font-face {
    font-family: myFirstFont;
    src: url(../../static/accounts/images/mister.ttf);
    font-weight: bold;
}
.h1_1{
    font-family:myFirstFont;
    color:#0b7dda;
    font-size:40px;
}
#l6{color:#0b7dda;font-size:20px;text-align:center;}
.contact_us{font-family: Times;font-size:35px;color: #2196F3}

.a1{padding-left:30px}

/*========================footer==========================================*/
.footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #0b7dda;
    text-align: center;
    font-family:myFirstFont;
} 

/*==================================Calender CSS====================================================*/

#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: black;
}
#calendar_content div.blank{
  background-color: white;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}
/*===========================================================================================
