{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head %}
  <title>USER PROFILE PAGE</title>
{% endblock %}

{% block body %}
<br><br>
<div class="i6">
  <div class="container" id="f4">
    <h1> Profile page</h1>
    <p> Username : {{user}} </p>
    <p> First Name: {{user.first_name}} </p>
    <p> Last Name: {{user.last_name}} </p>
    <p> Email: {{user.email}} </p>
    <p> Description: {{user.userprofile.description}} </p>
    <p> Phone: {{user.userprofile.phone}} </p>
    <p> Company: {{user.userprofile.company_name}} </p>
    <p> City: {{user.userprofile.city}} </p>
  </div>
</div>
{% endblock %}
