<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>

<!-- navbar-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kickstart</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<!--header-->

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to Kickstart!</h1>
        <p class="text-center">
            <small>Manage workflow, assign tasks, complete work efficiently!</small>
        <p>
    </div>
</div>

<!--random stuff related to service-->
<div class="row">

    <div id="section1" class="col-lg-8">
        <h1 class="page-header">Explain how our service works</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dui dui.
            Praesent quis orci sagittis tellus commodo ultrices a at ante. Praesent viverra ipsum id massa porttitor,
            sed euismod ante blandit.
            Nullam vel vehicula sem, sit amet laoreet justo. Ut vitae quam purus. In sodales libero ligula. Sed aliquet
            nisl odio.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Pellentesque non magna non est suscipit fermentum. Fusce risus nisi, dignissim in tincidunt vel, mattis nec
            arcu.
        </p>
    </div>

    <div class="col-lg-4">
        <h1>Images?</h1>
    </div>

</div>

<div class="row">

    <div class="col-lg-4">
        <h1>Images?</h1>
    </div>

    <div id="section2" class="col-lg-8">
        <h1 class="page-header">Feature 1</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dui dui.
            Praesent quis orci sagittis tellus commodo ultrices a at ante. Praesent viverra ipsum id massa porttitor,
            sed euismod ante blandit.
            Nullam vel vehicula sem, sit amet laoreet justo. Ut vitae quam purus. In sodales libero ligula. Sed aliquet
            nisl odio.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Pellentesque non magna non est suscipit fermentum. Fusce risus nisi, dignissim in tincidunt vel, mattis nec
            arcu.
        </p>
    </div>
</div>

<div class="row">

    <div id="section3" class="col-lg-8">
        <h1 class="page-header">Feature 2</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dui dui.
            Praesent quis orci sagittis tellus commodo ultrices a at ante. Praesent viverra ipsum id massa porttitor,
            sed euismod ante blandit.
            Nullam vel vehicula sem, sit amet laoreet justo. Ut vitae quam purus. In sodales libero ligula. Sed aliquet
            nisl odio.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Pellentesque non magna non est suscipit fermentum. Fusce risus nisi, dignissim in tincidunt vel, mattis nec
            arcu.
        </p>
    </div>

    <div class="col-lg-4">
        <h1>Images?</h1>
    </div>
</div>

<div class="row">

    <div class="col-lg-4">
        <h1>Images?</h1>
    </div>

    <div id="section4" class="col-lg-8">
        <h1 class="page-header">Feature 3</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dui dui.
            Praesent quis orci sagittis tellus commodo ultrices a at ante. Praesent viverra ipsum id massa porttitor,
            sed euismod ante blandit.
            Nullam vel vehicula sem, sit amet laoreet justo. Ut vitae quam purus. In sodales libero ligula. Sed aliquet
            nisl odio.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Pellentesque non magna non est suscipit fermentum. Fusce risus nisi, dignissim in tincidunt vel, mattis nec
            arcu.
        </p>
    </div>
</div>

<!--footer-->
<div class="container-fluid" style="background-color:tomato;">
    <div class="row">
        <div class="col-lg-6">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis nec enim rhoncus, sodales libero a, tincidunt dui.
                Suspendisse sodales elementum consectetur. Suspendisse potenti.
                Nullam lobortis tellus id quam scelerisque sodales. Integer auctor ut odio at varius.
                Nunc iaculis elementum justo, eu elemenetum augue blandit quis.
                Vivamus pellentesque felis in lectus ultricies, sed iaculis magna ullamcorper.
                Aliquam felis lacus, feugiat in ultricies sit amet, tempus nec mauris.
                Aenean fringilla massa ultricies tincidunt commodo. Aliquam erat volutpat.
            </p>
        </div>
        <div class="col-lg-6">
            <h2>Contacts</h2>
            <ul style="padding-left:inherit;">
                <li class="list-group-item">email-1</li>
                <li class="list-group-item">email-2</li>
                <li class="list-group-item">email-3</li>
            </ul>
        </div>
    </div>
</div>

<!-- social media-->
<div class="container-fluid" style="background-color:#000000e6;padding-bottom:12px;">

    <h3 class="text-center">
        <small>Follow us at:</small>
    </h3>

    <div class="text-center">
        <a class="fa fa-twitter" href="#"></a>
        <a class="fa fa-facebook-square" href="#"></a>
        <a class="fa fa-instagram" href="#"></a>
        <a class="fa fa-google-plus-official" href="#"></a>
    </div>
</div>

</body>
</html>
