{% extends 'blog/base.html' %}
{% block body %}
    <br><br>

     <div class="shadow-lg p-4 mb-4" style="background-color: cornsilk">
        <p class="display-2">Modify post</p>
         <hr>
         <form method="POST">
            {% csrf_token %}
            <h4 class="display-5">
        <span class="font-italic">Title:</span>
        </h4><br>{{ form.title }}<br><br>
             <h4 class="display-5"><span class="font-italic">Description:</span></h4><br>
        {{ form.content }}

        <br><br>
        <button type="submit" class="save btn btn-default" style="border-radius: 19px;">Save</button>
    </form>
     </div>
{% endblock %}